<br>
<br>
<h1 class="title">List Of Past Congresses</h1>
<br>
<br>




  <!-- Card -->
<div class="">
   <mdb-card
    style="background-image: url('../../../assets/affiche2007.jpg')"
    class="card-image mb-5 mx-5"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong> Congress 2007 in Tunis, Tunisia</strong></h3>

        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect  target="_blank" href="../../../assets/Pan%20Arab_2007.pdf">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a>
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
<br>
  <mdb-card
    style="background-image: url('../../../assets/aff2.jpg')"
    class="card-image mb-5 mx-5"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>
        <h3 class="card-title pt-2"><strong>Congress 2013 in Sharm El-Shiekh, Egypt</strong></h3>

        <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect target="_blank" href="../../../assets/2.pdf" >
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a>
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <br>
  <mdb-card
    style="background-image: url('../../../assets/affi3.jpg')"
    class="card-image mb-5 mx-5"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>Congress 2015 in Jeddah Saudi Arabia</strong></h3>

        <a mdbBtn color="blue" class="waves-light" mdbWavesEffect target="_blank" href="../../../assets/Pan_Arab_2015.pdf"  >
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>


  <!-- Card -->

<div>
  <mdb-card
    style="background-image: url('../../../assets/affi4.jpg')"
    class="card-image mb-5 mx-5"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>Congress 2017 in Hammamet, Tunis</strong></h3>

        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect target="_blank" href="../../../assets/Programme%20PAUNS%202017_version_finale.pdf" >
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
</div>

  <mdb-card
    style="background-image: url('../../../assets/affi5.jpg')"
    class="card-image mb-5 mx-5">
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>Congress 2018 in Amman, Jordanie</strong></h3>

        <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect target="_blank" href="../../../assets/PAUNS-Agenda-8.9.2018.pdf">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>

    <!-- Content -->
  </mdb-card>
  <mdb-card
    style="background-image: url('../../../assets/affi6.jpg')"
    class="card-image mb-5 mx-5">
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>Congress 2018 in Amman, Jordanie</strong></h3>

        <a mdbBtn color="blue" class="waves-light" mdbWavesEffect target="_blank" href="../../../assets/CNC_Program_2020_(4).pdf">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>

    <!-- Content -->
  </mdb-card>
</div>

<a mdbBtn color="black" class="waves-light c1" mdbWavesEffect >
  <span class="flex-center" (click)="isHidden1= !isHidden1">More Congresses</span><span class="icon" aria-hidden="true"></span>

  </a>
<div class="accordion-content ">

  <ul class="list-group  list-group-flush flex-center " [hidden]="isHidden1">
    <li class="list-group-item" >1975 Cairo, Egypt</li>
    <li class="list-group-item" >1978 Tunis, Tunisia</li>
    <li class="list-group-item" >1984 Amman, Jordan</li>
    <li class="list-group-item" >1993 Tunis, Tunisia</li>
    <li class="list-group-item" >1995 Jeddah, Saudi Arabia</li>
    <li class="list-group-item" >1997 Ryadh, Saudi Arabia</li>
    <li class="list-group-item" >2000 Beirut, Lebanon</li>
    <li class="list-group-item" >2003 Cairo, Egypt</li>
    <li class="list-group-item" >2005 Cairo, Egypt</li>
  </ul>


<br>
<br>

</div>
