
<footer class="font-small dark text-dark footercolor ">

    <div class="container text-center">
      <div class="row">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">      
            <h6 class="text-uppercase font-weight-bold">About Us</h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" >
            <p class="t"> The Pan Arab Union of Neurological Societies was established in Cairo, Egypt in 1975 </p>
            
          </div>
       
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4 ">  
            <h6 class="text-uppercase font-weight-bold">Quick access</h6>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" >
            <p class="mr-2">
                <a routerLink="/home"> <mdb-icon fas icon="angle-right" ></mdb-icon> Home</a>
            </p> 
            <p>
              <a routerLink=""> <mdb-icon fas icon="angle-right"></mdb-icon> Events</a>
            </p>
            <p class="ml-5">
              <a routerLink="" > <mdb-icon fas icon="angle-right"></mdb-icon> 18 PAUNS congress 2022</a>
            </p>
            <p>
              <a routerLink="" > <mdb-icon fas icon="angle-right"></mdb-icon>Links</a>
            </p>
      
            
           
          </div>
       
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4  ">
          <h6 class="text-uppercase font-weight-bold">Become a member</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto ">
          <p class="d-flex justify-content-start ml-4">
            <a (click) ="login($event)"> <mdb-icon fas icon="angle-right" ></mdb-icon>  My Account</a>
          </p>
          <p class="d-flex justify-content-start ml-4">
            <a (click) ="signup($event)"> <mdb-icon fas icon="angle-right" ></mdb-icon>   Sign up</a>
          </p>
          
        </div>
      
        <div class="col-md-4 col-lg-5 col-xl-4 mx-auto mb-md-0 mb-4 mt-4 ml-3">

        
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" >
          
          <p class="t1">
           <span>Email: </span>pauns.adm@gmail.com
          </p>
     
        
        </div>
      

      </div>
    </div>
    <div class="footer-copyright text-center py-3  color">
     <p class="c2">&copy; Copyright Pauns. All Rights Reserved</p> 
     <p>Designed by MedTech</p>
    </div>

</footer>
  
