html {
  background: #eff0ef;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;;
}
.title{
  text-align: center;
  margin-bottom: 2%;
  color:black;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
}

.testimonial-quote {
  font-size: 15px;
  font-family: "Raleway", sans-serif;

}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;

  background: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote h2 {
  color: #000000;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote h2:first-child:before {
  content: '\201C';
  color: #E43A19;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote img {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -.2em;
  left: 0;
}

.testimonial-quote cite {
  color: #000000;
  display: block;
  font-size: .8em;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

.testimonial-quote .quote-container {
  padding-left: 160px;
}

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 160px;
}

.testimonial-quote.right img {
  left: auto;
  right: 0;
}

.testimonial-quote.right cite {
  text-align: right;
}
.l1{color:black;}
.rounded-circle{width:50%!important;
  height: 50%!important;}

.group{margin-left: 35%;}

.c3{justify-content: center;}
.c5{text-align: center;}
.jobpos{margin-top: 10%!important;
  margin-bottom: 0%;
  line-height: 0rem;}
.president{font-weight: bold;}
