<div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;">
<div class="title">
  <h1 >Pauns Board</h1>
</div>
  <div class="testimonial-quote group">
    <img src="../../../assets/Prof%20Maged%20Abdel%20Naseer.jpg">
    <div class="quote-container">
      <blockquote>
<br>
<h2 class="ml-5">Presedent</h2>
      </blockquote>
      <cite class="ml-5">         <h4>Prof Maged Abdel Naseer</h4>
        Egypt
      </cite>
    </div>
  </div>

  <hr style="margin: 60px auto; opacity: .5;">

  <div class="testimonial-quote group right">
    <img src="../../../assets/Prof%20Ammar%20Eltahir.jpg">
    <div class="quote-container">
      <div>
        <blockquote>
          Vice Presidents
        </blockquote>
        <cite class="ml-5">         <h4  >Prof. Ammar Eltahir</h4>
          Sudan
        </cite>
      </div>
    </div>
  </div>
  <br>

  <div class="testimonial-quote group">
    <img src="../../../assets/Prof%20Hicham%20Chafiq.jpg">
    <div class="quote-container">
   <br>
      <cite class="ml-5">         <h4>Prof. Hicham Chafiq </h4>
        Morocco
      </cite>
    </div>
  </div>
  <br>

  <div class="testimonial-quote group right">
    <img src="../../../assets/Prof%20Adel%20Misk.jpg">
    <div class="quote-container">
      <div>
        <br>
        <cite class="ml-5">         <h4   >Prof. Adel Misk</h4>
          Palestine
        </cite>
      </div>
    </div>
  </div>
  <br>
  <div class="testimonial-quote group">
    <img src="../../../assets/Prof%20Jasem%20Alhashel%20.jpg">
    <div class="quote-container">
      <br>
      <cite class="ml-5">         <h4   >Prof. Jasem Alhashel </h4>
        Kuwait
      </cite>
    </div>
  </div>

  <hr style="margin: 60px auto; opacity: .5;">

  <div class="testimonial-quote group " style="width: 600px; margin-left: auto;">
    <img src="../../../assets/Prof%20Hany%20Aref%20.jpg ">
    <div class="quote-container">
      <blockquote>
        <br>
        <h2  >

          Treasurer        </h2>
      </blockquote>
      <cite >         <h4   >Prof. Hany Aref  </h4>
        Egypt
      </cite>
    </div>
  </div>

  <hr style="margin: 60px auto; opacity: .5;">

  <div class="testimonial-quote group" style="width: 600px; margin-left: auto;">
    <img src="../../../assets/Prof%20Amina%20Gargouri%20.jpg">
    <div class="quote-container">
      <div>
        <blockquote>
          <br>
          <h2>
            Secretary General
          </h2>        </blockquote>
        <cite >         <h4   >Prof Amina GARGOURI  </h4>
          Tunisia        </cite>
      </div>
    </div>
  </div>


</div>
