<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container bootdey">

        <br>
        <br>
        <br>
        <h1 class="title">Past Presidents</h1>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="team text-center rounded p-3 py-4">
        <img src="../../../assets/Prof%20Ahmed%20El-Banhawy.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
          <h4 class="title mb-0">Prof. Ahmed El-Banhawy</h4>
          <small class="text-muted">Egypt</small>

        </div>
      </div>
    </div><!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="team text-center rounded p-3 py-4">
        <img src="../../../assets/1.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
          <h4 class="title mb-0">Prof. El-Mongi Ben Hamida</h4>
          <small class="text-muted">Tunisia</small>

        </div>
      </div>
    </div><!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="team text-center rounded p-3 py-4">
        <img src="../../../assets/a.png" class="img-fluid avatar avatar-large shadow rounded-pill" alt="">
        <div class="content mt-3">
          <br>
          <h4 class="title mb-0">Prof Ashraf El-kourdi</h4>
          <small class="text-muted">Jordan</small>
        </div>
      </div>
    </div><!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="team text-center rounded p-3 py-4">
        <img src="../../../assets/4-%20Prof%20Emad%20Fadli.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
          <h4 class="title mb-0">Prof. Emad Fadli</h4>
          <small class="text-muted">Egypt</small>
        </div>
      </div>
    </div><!--end col-->

    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="team text-center rounded p-3 py-4">
          <img src="../../../assets/5.%20Prof%20Saleh%20El-Deeb.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
          <div class="content mt-3">
            <br>
            <h4 class="title mb-0">Prof. Saleh El-Deeb</h4>
            <small class="text-muted">Saudi Arabia</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="team text-center rounded p-3 py-4">
          <img src="../../../assets/6.%20Prof%20Hussein%20Malibary.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
          <div class="content mt-3">
            <h4 class="title mb-0">Prof. Hussein Malibary</h4>
            <small class="text-muted">Saudi Arabia</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="team text-center rounded p-3 py-4">
          <img src="../../../assets/7.%20Prof%20Mohamed%20Anwar%20El%20Etreby%20.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
          <div class="content mt-3">
            <h4 class="title mb-0">Prof. Mohamed Anwar El Etreby</h4>
            <small class="text-muted">Egypt</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="team text-center rounded p-3 py-4">
          <img src="../../../assets/8.%20Prof%20Saher%20Hashem.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
          <div class="content mt-3">
            <h4 class="title mb-0">Prof. Saher Hashem</h4>
            <small class="text-muted">Egypt</small>
          </div>
        </div>
      </div><!--end col-->

      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
            <img src="../../../assets/9.%20Prof%20Riadh%20Gouider%20.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
            <div class="content mt-3">
              <h4 class="title mb-0">Prof. Riadh Gouider</h4>
              <small class="text-muted">Tunisia</small>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
            <img src="../../../assets/10.%20Prof%20Ahmad%20Khalifa%20.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
            <div class="content mt-3">
              <h4 class="title mb-0">Prof. Ahmad Khalifa</h4>
              <small class="text-muted">Syria</small>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
            <img src="../../../assets/11.%20Prof%20Mohamed%20S.%20El%20Tamawy%20.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
            <div class="content mt-3">
              <h4 class="title mb-0">
                Prof. Mohamed S. El Tamawy
              </h4>
              <small class="text-muted">Egypt</small>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
            <img src="../../../assets/12.%20Prof%20Saeed%20Bohlega%20.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
            <div class="content mt-3">
              <h4 class="title mb-0">Prof. Saeed Bohlega</h4>
              <small class="text-muted">Jeddah, Saudi Arabia</small>
            </div>
          </div>
        </div><!--end col-->

        <div class="row c1">
          <div class="col-lg-4 col-md-6 col-10 mt-4 pt-2">
            <div class="team text-center rounded p-3 py-4">
              <img src="../../../assets/13.%20Prof%20Chokri%20Mhiri%20.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
              <div class="content mt-3">
                <h4 class="title mb-0">Prof. Chokri Mhiri </h4>
                <small class="text-muted">Tunisia</small>

              </div>
            </div>
          </div><!--end col-->

          <div class="col-lg-4 col-md-6  mt-4 pt-2">
            <div class="team text-center rounded p-3 py-4">
              <img src="../../../assets/14.%20Prof%20Mohammed%20Al-Shehab.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
              <div class="content mt-3">
                <h4 class="title mb-0">Prof. Mohammed Al-Shehab</h4>
                <small class="text-muted">Jordan</small>

              </div>
            </div>
          </div><!--end col-->



  </div><!--end row-->
</div>
      </div>
    </div>
  </div>
