.title{


  text-align: center;
  margin-bottom: 2%;
  color:black;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;


}
.center{
  margin-left: 33.3% !important;
}
li{
  list-style: square;
}
.c2{
  font-weight: bold;
  font-size: 2rem;
}
