

<br>
<h1 class="title">Past Boards</h1><br>
<br>
<section class="ml-5">
<div class="row m1 ">



  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card elegant-color mml-1 mr-5">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title white-text py-3  text-center">2005 - 2007</h4>
        <!--Text-->
        <div class="card-text white-text m1">
          President: Saher Hashem (Egypt)<br>
          Vice Presidents:
          <br>
          <ul>
        <li> Nile Area : A.L. Osman (Egypt)    </li>
        <li>Sham and Iraq Area : K.El Shekheily (Iraq)  </li>
        <li> Sham and Iraq Area : A.Khalifa (Syria)    </li>
        <li>Northern Africa Area : Amel Mrabet (Tunisia)    </li>
        <li>Secretary General:  Mohamed S. El Tamawy (Egypt)    </li>
        <li> Treasurer:  </li>

      </ul>

        </div>

        <a href="#" class="btn btn-info my-3 ">Read more</a>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card light-green mml-1 mr-5">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body    ">
        <!--Title-->
        <h4 class="card-title white-text py-3  text-center" >2007 - 2010</h4>
        <!--Text-->
        <div class="card-text white-text m1">
          President: Riadh Gouider (Tunisia)
          <br>
          Vice Presidents:
          <br>
          <ul>
            <li> Nile Area : Farouk Talaat (Egypt)
            </li>
            <li>Northern Africa Area : Mohamed Arezki (Algeria) </li>
            <li>Sham and Iraq Area : Abdallah Hassan  (Lebanon)  </li>
            <li> Gulf Area : Adel Al Jishi (Bahrain)  </li>
            <li>Secretary General: Mohamed Soliman El Tamawy (Egypt)    </li>
            <li>Treasurer: Chokri MHIRI (Tunisia)    </li>
          </ul>

        </div>

        <a href="#" class="btn btn-info my-3 white dark-grey-text">Read more</a>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card  blue mml-1 mr-5">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body    ">
        <!--Title-->
        <h4 class="card-title white-text py-3  text-center ">2010 - 2013</h4>
        <!--Text-->
        <div class="card-text white-text m1">
          President: Ahmed Khalifa (Syria) <br>
          Vice Presidents:

          <br>
          <ul>
            <li> Northern Africa Area : Chokri Mhiri (Tunisia)
            </li>
            <li>Nile Area : Mohamed Osama Abdulghani (Egypt) </li>
            <li>Gulf Area : Saeed Bohlega (Saudi Arabia)  </li>
            <li> Sham and Iraq Area : Adel Misk (Palestine)   </li>
            <li>Secretary General:  Mohamed S. El Tamawy (Egypt)   </li>
            <li>Treasurer: Abdulnaser Sleie (Syria)   </li>
          </ul>

        </div>

        <a href="#" class="btn btn-info my-3 white dark-grey-text">Read more</a>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card blue mml-1 mr-5">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body    ">
        <!--Title-->
        <h4 class="card-title white-text py-3  text-center">2013 - 2015 </h4>
        <!--Text-->
        <div class="card-text white-text m1">
          President : Mohamed S. El Tamawy (Egypt)
          <br>
          Vice Presidents:
          <br>
          <ul>
            <li> Northern Africa Area : Mustapha El Alaoui Faris (Morocco)
            </li>
            <li> Nile Area : Ahmed El Taher Ammar (Sudan) </li>
            <li>Gulf Area : Abdullah El Asmi (Oman)  </li>
            <li>Sham and Iraq Area : Mohammed Al-Shehab (Jordan)   </li>
            <li>Secretary General: Chokri Mhiri (Tunisia)    </li>
            <li>Treasurer: Mohamed Osama Abdulghani (Egypt)   </li>
          </ul>

        </div>

        <a href="#" class="btn btn-info my-3 white dark-grey-text">Read more</a>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card elegant-color mml-1 mr-5">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body    ">
        <!--Title-->
        <h4 class="card-title white-text py-3  text-center">2015 - 2017</h4>
        <!--Text-->
        <div class="card-text white-text m1">
          President : Saeed Bohlega (Saudi Arabia)
          <br>
          Vice Presidents:
          <br>
          <ul>
            <li>Northern Africa Area : Mustapha El Alaoui Faris (Morocco)   </li>
            <li> Nile Area : Mohamed Osama Abdulghani (Egypt)  </li>
            <li> Gulf Area : Rashad Abdul ghani Al Dhebai (Yemen)   </li>
            <li>Sham and Iraq Area : Chaker. Khamis (Lebanon)   </li>
            <li>General Secretary : Waleed Khoja (Saudi Arabia) </li>
            <li>Treasurer : Adel Al-Jishi (Bahrain) </li>
          </ul>

        </div>

        <a href="#" class="btn btn-info my-3">Read more</a>
      </div>

    </div>
    <!--/.Card-->


  </div>



  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card light-green mml-1 mr-5">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title white-text py-3 text-center ">2017 - 2018</h4>
        <!--Text-->
        <div class="card-text white-text m1">
          President : Chokri MHIRI (Tunisia)
          <br>
          Vice Presidents:
          <br>
          <ul>
            <li>Northern Africa Area : Mustapha Saadi belouiz (Morocco)</li>
            <li>Nile Area : Osheik Seidi (Sudan) </li>
            <li> Gulf Area : Jasem Al-Hashel (Kuwait)   </li>
            <li>Sham and Iraq Area : Adel Misk (Palestine)   </li>
            <li> General Secretary : Waleed Khoja (Saudi Arabia)    </li>
            <li>  Treasurer : Hany Aref (Egypt)    </li>
          </ul>



        </div>

        <a href="#" class="btn btn-info white dark-grey-text my-3">Read more</a>
      </div>

    </div>
    <!--/.Card-->

  </div>


  <div class="col-lg-4 col-md-12 mb-4 center ">

    <!--Card-->
    <div class="card blue mml-1 mr-5">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body    ">
        <!--Title-->
        <h4 class="card-title white-text py-3 text-center">2018 - 2020</h4>
        <!--Text-->
        <div class="card-text white-text m1">
          President:Mohammed Al-Shehab (Jordan)<br>
          Vice Presidents:
          <br>
          <ul>
            <li> Northern Africa Area : Prof. Hicham Chafiq (Morroco)
            </li>
            <li>Nile Area : Mohamed Osama Abdulghani (Egypt)  </li>
            <li>  Gulf Area : Abdullah El Asmi (Oman)   </li>
            <li>Sham and Iraq Area : Akram Al-mahdawi   </li>
            <li>Secretary General: Abdel Rehim Eldewery)    </li>
            <li>Treasurer :   </li>
          </ul>

        </div>

        <a href="#" class="btn btn-info my-3 white dark-grey-text">Read more</a>
      </div>

    </div>
    <!--/.Card-->

  </div>

  </div>

<!--MDB Cards-->

</section>
