.title{


  text-align: center;
  margin-bottom: 2%;
  color:black;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;


}
.c1 {
  background-color : #f1fcf6;
}
.c20 {
  background-color : #f1fcf6;
}
.center{
  margin-left: 33.3% !important;
}
li{
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;

}
.c2{
  font-weight: bold;
  font-size: 2rem;
 
}
.c40 {
  color: #090910;
}
.m1{
  font-family: "Raleway", sans-serif;
  font-size: 0.93rem;
 
}
.m2 {
text-align: center;
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 0.93rem;

}