<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-poppy-red"  [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/home"> <img src="../../assets/logo.png" class="img-fluid" alt="Responsive image"></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links class="v">

      <!-- Links -->
      <ul class="navbar-nav mr-auto mt-2 ml-3 ">

        <!-- Dropdown -->
        <li class="nav-link1 nav-item" style="--i: .85s">
            <a class="nav-link waves-light c1" routerLink="/home" mdbWavesEffect>Home<i class="fas fa-caret-down"></i></a>
            <div class="dropdown1 c21 ">
                <ul>

                     <!--ORGANISATION-->
                    <li class="dropdown-link" >
                        <a class="nav-link waves-light c2 " mdbWavesEffect>ORGANISATION<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown1 second">
                            <ul>
                                <li class="dropdown-link">
                                    <a routerLink="/board"class="nav-link waves-light c2" mdbWavesEffect>BOARD</a>
                                </li>
                                <li class="dropdown-link">
                                    <a routerLink="/Member"class="nav-link waves-light c2" mdbWavesEffect>MEMBRE SOCIETIES</a>
                                </li>
                                <li class="dropdown-link">
                                    <a routerLink="/Representatives"class="nav-link waves-light c2" mdbWavesEffect>REPRESENTATIVES OF THE REGIONS</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="../../assets/Constitution%20of%20Pan%20Arab_ang.pdf" target="_blank" class="nav-link waves-light c2" mdbWavesEffect>CONSTITUTION</a>

                                </li>
                                <div class="arrow"class="nav-link waves-light" mdbWavesEffect></div>
                            </ul>
                        </div>
                    </li>
                    <!--HISTORY-->
                    <li class="dropdown-link">
                        <a  class="nav-link waves-light c2" mdbWavesEffect>HISTORY<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown1 second">
                            <ul>
                                <li class="dropdown-link">
                                    <a routerLink="/History" class="nav-link waves-light c2" mdbWavesEffect>HISTORY OF THE REGIONS</a>
                                </li>
                                <li class="dropdown-link">
                                    <a routerLink="/PastPresidents"class="nav-link waves-light c2" mdbWavesEffect>PAST PRESIDENTS</a>
                                </li>
                                <li class="dropdown-link">
                                    <a  routerLink="/PastBoards" class="nav-link waves-light c2" mdbWavesEffect>PAST BOARDS</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown-link">
                        <a routerLink="/Objectives"class="nav-link waves-light c2" mdbWavesEffect>OBJECTIFS</a>
                    </li>
                    <div class="arrow"></div>
                </ul>
            </div>
        </li>
        <li class="nav-link1 nav-item" style="--i: .85s">
            <a class="nav-link waves-light c1" mdbWavesEffect >Events and News<i class="fas fa-caret-down"></i></a>
            <div class="dropdown1 c21">
                <ul>
                      <!--CONGRESSES-->
                      <li class="dropdown-link">
                        <a class="nav-link waves-light c2" mdbWavesEffect>CONGRESSES<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown1 second">
                            <ul>
                              <li class="dropdown-link">
                                <a href="#"class="nav-link waves-light c2" mdbWavesEffect>PAST CONGRESSES</a>
                              </li>
                                <li class="dropdown-link">
                                    <a routerLink="/ComingSoon"class="nav-link waves-light c2" mdbWavesEffect>FUTURE CONGRESSES</a>
                                </li>

                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                     <!--MEETING-->
                    <li class="dropdown-link">
                        <a class="nav-link waves-light c2" mdbWavesEffect>MEETING<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown1 second">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#"class="nav-link waves-light c2" mdbWavesEffect>PAST MEETING</a>
                                </li>
                                <li class="dropdown-link">
                                    <a routerLink="/ComingSoon" class="nav-link waves-light c2" mdbWavesEffect>URE MEETING</a>
                                </li>

                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <!--NEWS-->
                    <li class="dropdown-link">
                        <a  class="nav-link waves-light c2" mdbWavesEffect>NEWS<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown1 second">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#"class="nav-link waves-light c2" mdbWavesEffect>MEDIA AND PRESS</a>
                                </li>


                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>

                    <div class="arrow"></div>
                </ul>
            </div>
        </li>
        <li class="nav-link1 nav-item" style="--i: 1.1s">
            <a routerLink="/ComingSoon" class="nav-link waves-light c1" mdbWavesEffect>18 PAUNS congress 2022 </a>

        </li>
        <li class="nav-link1 nav-item" style="--i: .85s">
            <a class="nav-link waves-light c1" mdbWavesEffect>Links<i class="fas fa-caret-down"></i></a>
            <div class="dropdown1 c21">
                <ul>
                      <li class="dropdown-link">
                        <a class="nav-link waves-light c2" target="_blank" mdbWavesEffect href="https://wfneurology.org/?fbclid=IwAR3xIcuBQnpDyrr5fDEDvFkeU55GqaDS_15glIPXKzVvo12P5-vwVO3eLd4">WFN</a>
                     </li>
                     <li class="dropdown-link">
                            <a class="nav-link waves-light c2" target="_blank" mdbWavesEffect href="https://www.ean.org/?fbclid=IwAR3RFUgGIgljc5_l4Ln_sBocvjjyCksK8bThDd8Sw9uUuCYto0iAMmA6DlA">EAN</a>
                    </li>
                    <li class="dropdown-link">
                        <a class="nav-link waves-light c2" target="_blank" mdbWavesEffect href="https://www.ilae.org/?fbclid=IwAR13N9tbvX7q9YhYF0KVFUk6Gk1mG6khgpu9KWiIRdafQ2b3G9ml1wuoaiY">ILAE</a>
                   </li>
                   <li class="dropdown-link">
                    <a class="nav-link waves-light c2"  target="_blank" mdbWavesEffect href="https://www.movementdisorders.org/MDS/About.htm?gclid=Cj0KCQiAys2MBhDOARIsAFf1D1eoCBSqCy9QOpfoPiZvH405_PziSHSobNOKrP452voZJ7MaPHzvIngaAoY4EALw_wcB">MDS</a>
                  </li>
                  <li class="dropdown-link">
                    <a class="nav-link waves-light c2" target="_blank" mdbWavesEffect href="https://www.alzint.org/?fbclid=IwAR1P5EMu3DxBOqkaluq7LzQYhJKHx-215Dp3Om_3XW-khGHlAoFG7OqXJLU">ADI</a>
                  </li>
                    <div class="arrow"></div>
                </ul>
            </div>
        </li>
         <!--CONTACT US-->
         <li class="nav-link1 nav-item" style="--i: .85s">
            <a  class="nav-link waves-light c1" mdbWavesEffect>Contact</a>
        </li>
      </ul>
      <!-- Links -->

      <ul class=" navbar-nav ml-auto mt-1">

        <div *ngIf="!loggedIn then thenBlock else elseBlock  " >   </div>
        <ng-template #thenBlock >

            <ul class="navbar-nav ml-auto mt-1">
                <li class="nav-item">
                    <a class="nav-link waves-light c1 "  routerLink="signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light c1"  routerLink="login" >Sign in</a>
                </li>

            </ul>


        </ng-template>
        <ng-template #elseBlock >

            <ul class="navbar-nav ml-auto ">


              <!-- dropdown1 -->
              <li class="nav-item dropdown mt-auto " dropdown>
                <a dropdownToggle  type="button" class="nav-link dropdown-toggle waves-light c8" mdbWavesEffect>
        <i class="fas fa-lg fa-user-check  c6" ></i> {{user.nom}}  {{user.prenom}}</a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary mt-4" role="menu">
                  <a class="dropdown-item waves-light c2" (click)="logout($event)"> <mdb-icon fas icon="sign-out-alt" class="mr-1 c7"></mdb-icon>Sign out</a>
                </div>
              </li>

            </ul>

      </ng-template>

      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
