
<div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;">
  <div class="title">
    <h1 class="title">Objectives</h1>

  </div>
  <div class="testimonial-quote group ">
    <div class="quote-container">

      <cite>         <h4 class="text">
        Since its early beginning, the purpose of the Union has been to advance the development of the basic and clinical neurosciences by:
      </h4>
        <br>
        <h5 class="text">
        <ul >
          <li >
            The dissemination of information and scientific knowledge in neurosciences.          
            <br>
          </li>
          <li>
            Stimulating, encouraging and developing programs of clinical and basic neurological research throughout the Arab Countries.            <br>
          </li>
          <li>
            Providing means of a closer professional and personal appreciation of Arab neurologists and neurological societies.            <br>
          </li>
          <li>
            The contribution to active international neurological congresses specially: European Academy of Neurology (EAN), American Academy of Neurology (AAN), and World Federation of Neurology (WFN). 
            <br>
          </li>


        </ul>
        </h5>
      </cite>
    </div>
  </div>

  <hr style="margin: 60px auto; opacity: .5;">


