<div class="title">

  <br>
  <h1 >Links</h1>
  <br>

</div>

<div class="card-deck">
  <!-- Card -->
  <mdb-card>
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/wfn.jpg" alt="Card image cap"></mdb-card-img>

      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>World Federation of Neurology (WFN)</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        <mdb-icon fas icon="map-marker"></mdb-icon> Chester House, Fulham Green, 81-83 Fulham High
        Street/ London SW6 3JA, United Kingdom <br>
        <mdb-icon fas icon="phone-alt"></mdb-icon> +44 (0)20 3542 1657 / 1658<br>
        <mdb-icon fas icon="envelope"></mdb-icon> info@wfneurology.org<br>

      </mdb-card-text>

      <a href="https://wfneurology.org/" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/ean.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <br>
        <h4>European Academy of Neurology (EAN)</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        <mdb-icon fas icon="map-marker"></mdb-icon>  Breite Gasse 4/7; 1070 Vienna,Austria <br>
        <mdb-icon fas icon="phone-alt"></mdb-icon> +43 1 889 05 03<br>
        <mdb-icon fas icon="phone-alt"></mdb-icon>  FAX : +43 1 889 05 03 13
        <br>
        <mdb-icon fas icon="envelope"></mdb-icon> headof ice@ean.org<br>

      </mdb-card-text>

      <a href="https://www.ean.org/" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/AFAN.jpg" alt="Card image cap" class="im1"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4   >African Academy of Neurology (AFAN)</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
       <br>
<br>
      <br>
      <br>

      </mdb-card-text>

      <a href="https://www.afaneurology.org/" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/IPM.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>International Parkinson and Movement Disorder Society (MDS)</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        <mdb-icon fas icon="map-marker"></mdb-icon> International Secretariat, 555 East Wells Street, Suite
        1100, Milwaukee, WI 53202-3823 USA <br>
        <mdb-icon fas icon="phone-alt"></mdb-icon> +1 (414) 276-2145<br>
        <mdb-icon fas icon="phone-alt"></mdb-icon> FAX : +1 (414) 276-3349<br>
        <mdb-icon fas icon="envelope"></mdb-icon> info@movementdisorders.org<br>

      </mdb-card-text>

      <a href="https://www.movementdisorders.org/" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>


</div>
<br>
<br>

<div class="card-deck ">
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/AZ.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <br>
        <h4>Alzheimer’s Disease International (ADI)
        </h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        <mdb-icon fas icon="map-marker"></mdb-icon>57A Great Suf olk Street, London, SE1 0BB, UK
        <br>
        <mdb-icon fas icon="phone-alt"></mdb-icon>+44 20 79810880<br>
        <mdb-icon fas icon="envelope"></mdb-icon>info@alzint.org<br>

      </mdb-card-text>

      <a href="https://www.alzint.org/?s=logo+ADI" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/ILAE.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>International League Against Epilepsy (ILAE)</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        <mdb-icon fas icon="map-marker"></mdb-icon> Suite 105, The Crescent Building, Northwood, Dublin,
        Ireland D09 C6X8 <br>
        <mdb-icon fas icon="phone-alt"></mdb-icon>+353.1205.6720<br>
        <mdb-icon fas icon="envelope"></mdb-icon>info@epilepsycongress.org<br>

      </mdb-card-text>

      <a href="https://www.ilae.org/" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/MS.jpg" alt="Card image cap"></mdb-card-img>

      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>MS International Federation</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        <br>
      <br>
       <br>
       <br>
       <br>

      </mdb-card-text>

      <a href="https://www.msif.org/" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img  src="../../assets/MEN.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Middle East North Africa Committee for treatment and research in
          Multiple Sclerosis (MENACTRIMS)
        </h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        <mdb-icon fas icon="map-marker"></mdb-icon> Amman, Jordan <br>
         <mdb-icon fas icon="envelope"></mdb-icon> info@menactrims.com<br>

      </mdb-card-text>

      <a href="https://menactrims.com/" target="_blank" class="c1" mdbBtn color="black"  mdbWavesEffect>Link</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
</div>
<br>
<br>
<br>
