.c2{
  padding: 18px 25px;
  font-size: 1rem;
  background-color:#E43A19;
  color: white!important;
  border-color: white;

}


button{
  background-color : #E43A19 !important; 
    color : #FFFFFF !important;
    border-radius:10%;


}
.c1{
  width: 90% !important;
}