<!--Section: Contact v.2-->
<section class="mb-4 c1 ml-5">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->


  <div class="row">

    <!--Grid column-->
    <div class="col-md-9 mb-md-0 mb-5">
      <form      #ContactForm=ngForm [formGroup]='Contactform' (ngSubmit)="onSubmit()" id="contact-form" name="contact-form">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="name" name="name" class="form-control"  formControlName="name">
              <label for="name" class="">Your name</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="email" name="email" class="form-control"  formControlName="email">
              <label for="email" class="">Your email</label>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
       <div class="row d-flex justify-content-center mt-3 mr-5">
        <div class="col-md-6 mr-5">
          <div class="md-form mb-0">
           <ngx-intl-tel-input mdbValidate
                   [cssClass]="'custom'"
                   [preferredCountries]="preferredCountries"
                   [enableAutoCountrySelect]="false"
                   [enablePlaceholder]="true"
                   [searchCountryFlag]="true"
                   [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                   [selectFirstCountry]="false"
                   [selectedCountryISO]="CountryISO.India"
                   [maxLength]="15"
                   [phoneValidation]="true"
                   [separateDialCode]="separateDialCode"
                   name="numtel" formControlName="numtel">
          </ngx-intl-tel-input>
       
           </div>
        </div>
 
    
           <div class="col-md-5 row">

            <div class="md-form " >
             
             <select class="custom-select browser-default" mdbSelect   mdbValidate required formControlName="country" >

                <option [value]="country.text" *ngFor="let country of myData" >
                  {{country.text}}
                </option>
              </select>
            
            </div>
          </div>
        

       
       </div>
  
        <!--Grid row-->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="text" id="subject" name="subject" class="form-control" formControlName="subject">
              <label for="subject" class="">Subject</label>
            </div>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12">

            <div class="md-form">
              <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" formControlName="message"></textarea>
              <label for="message">Your message</label>
            </div>

          </div>
        </div>
        <!--Grid row-->
        <div class="row d-flex justify-content-end mr-1">
          <div class=" d-flex justify-content-center mb-4  ">
            <button mdbBtn color="#E43A19" class="waves-light" mdbWavesEffect >Send</button>
          </div>
        </div>
      
      </form>

   
      <div class="status"></div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3 text-center mt-5">
      <ul class="list-unstyled mb-0 mt-5">
       

        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
          <p>pauns.adm@gmail.com</p>
        </li>
      </ul>
    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->
