<section id="team" class="team team-bg py-5">
  <div class="container">

    <div class="section-title">
       <p class="main-team-heading">Regions representative</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/Prof%20Ammar%20Eltahir.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <p class="member-heading">Prof. Ammar Eltahir</p>
            <span>Nile Area </span>
            <p class="member-para">Countries: Egypt, Sudan</p>

          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/Prof%20Jasem%20Alhashel%20.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <p class="member-heading">Jessem El Hajel</p>
            <span> Gulf Area</span>
            <p class="member-para">Countries: Bahrain, Kuwait, Oman, Qatar, Saudi Arabia, United Arab Emirates, Yemen
            </p>

          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/Prof%20Hicham%20Chafiq.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <p class="member-heading"> Hichem Chafik</p>
            <span>  Northern Africa Area</span>
            <p class="member-para">Countries: Algeria, Libya, Mauritania, Morocco, Tunisia</p>

          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src=" ../../../assets/Prof%20Adel%20Misk.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <p class="member-heading">Prof. Adel Misk</p>
            <span> Sham and Iraq Area</span>
            <p class="member-para">Countries: Iraq, Jordan, Lebanon, Palestine, Syria
            </p>

            </div>
          </div>
        </div>
      </div>

    </div>

</section>
