<section id="team" class="team team-bg py-5">
  <div class="container">

    <h1 class="title">Representatives of the Regions </h1>
    <br>

    <div class="row">

      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/Prof%20Ammar%20Eltahir.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <p class="member-heading">Prof. Ammar Eltahir</p>
            <span>Nile Area </span>
            <p class="member-para">Countries: Egypt, Sudan</p>
            <mdb-icon far icon="envelope"></mdb-icon> atahmed10@gmail.com<br>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start ">
          <div class="pic cim"><img src="../../../assets/Jasem1.png" class="img-fluid im avatar" alt=""></div>
          
          <div class="member-info">
            <p class="member-heading">Jessem El Hajel</p>
            <span> Gulf Area</span>
            <p class="member-para">Countries: Bahrain, Kuwait, Oman, Qatar, Saudi Arabia, United Arab Emirates, Yemen
            </p>
           <mdb-icon far icon="envelope"></mdb-icon> jasemkumsa@hotmail.com<br>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/Prof%20Hicham%20Chafiq.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <p class="member-heading"> Hichem Chafik</p>
            <span>  Northern Africa Area</span>
            <p class="member-para">Countries: Algeria, Libya, Mauritania, Morocco, Tunisia</p>
            <mdb-icon far icon="envelope"></mdb-icon> chafiqhicham@hotmail.com<br>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src=" ../../../assets/Prof%20Adel%20Misk.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <p class="member-heading">Prof. Adel Misk</p>
            <span> Sham and Iraq Area</span>
            <p class="member-para">Countries: Iraq, Jordan, Lebanon, Palestine, Syria
         
            </p>
            <mdb-icon far icon="envelope"></mdb-icon> dr_misk53@yahoo.com<br>
            </div>
          </div>
        </div>
      </div>

    </div>

</section>
