@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

$bg: #F5F5F5;
$text: #100f0f;
$gray:  #fff;
$lightgray: #e5e5e5;
$blue: #E43A19;
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background-color: $bg;
  color: $gray;
  display: flex;
  min-height: 100vh;

}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  padding-left: 0%!important;
  padding-right: 0% !important;
}

.accordion {
  .accordion-item {
    border-bottom: 1px solid $lightgray;
    button[aria-expanded='true'] {
      border-bottom: 1px solid $blue;

    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: $text;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    padding-left: 0%!important;
    padding-right: 0% !important;

    &:hover, &:focus {
      cursor: pointer;
      color: $blue;
      &::after {
        cursor: pointer;
        color: $blue;
        border: 1px solid $blue;
      }
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0;

    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;

      }
    }
  }
  button[aria-expanded='true'] {
    color: $blue;
    .icon {
      &::after {
        width: 0;

      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {

    overflow: hidden;
    transition: opacity 200ms linear, max-height 2000ms linear;
    background-color: #F5F5F5 !important;

    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}
