
<div class="container">
  <h2 class="pb-5">List of Arabic Member countries</h2>
  <div class="accordion" >
    <div class="accordion-item" >

      <button id="accordion-button-1" aria-expanded="false"><span class="panel-heading " (click)="isHidden1= !isHidden1">Algerian Society of Neurology and Clinical Neurophysiology</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content ">
        <p [hidden]="isHidden1">
        <strong> President: Prof. Mustapha Sadibelouiz<br></strong>
          <i class="fas fa-phone"></i>   +213 770 868 052 <br>
          <mdb-icon far icon="envelope"></mdb-icon>   sadibelouiz2000@yahoo.fr<br>

        </p>
      </div>
    </div>
    <div class="accordion-item " >
      <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title" (click)="isHidden2= !isHidden2">Bahrain Neurosciences Association</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content"  >
        <p [hidden]="isHidden2">
       <strong>President: Dr Adel Al-Jishi <br></strong>
          <mdb-icon far icon="envelope"></mdb-icon>   Adeljish@batelco.com.bh<br>


        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title" (click)="isHidden3= !isHidden3">Egyptian Society of Neurology, Psychiatry & Neurosurgery</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden3">
       <strong>   President: Prof. Ashraf Abdou</strong>
<br>
          <i class="fas fa-phone"></i>  +202 22 666 152 <br>

          <mdb-icon far icon="envelope"></mdb-icon>  ashrafabdou@gmail.com  <br>
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title" (click)="isHidden4= !isHidden4">Emirates Neurosciences Society (EMINS)</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden4">

          <strong>President: Dr. Suhail Alrukn, MD, FRCPC</strong> <br>

        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title" (click)="isHidden5= !isHidden5"> Iraqi Neurological Societys</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
  <p [hidden]="isHidden5">
    <strong>President: Prof. Akram Al-mahdawi
    </strong>
    <br>
    <i class="fas fa-phone"></i>+964 07704621130
    <br>

    <mdb-icon far icon="envelope"></mdb-icon> akramalmahdawi@gmail.com<br>
  </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-6" aria-expanded="false"><span class="accordion-title" (click)="isHidden6= !isHidden6">
        Jordan Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p  [hidden]="isHidden6">
          <strong>President: Dr. Ammar Mobaideen
          </strong> <br>
          <mdb-icon far icon="envelope"></mdb-icon> mobaidin284@outlook.com<br>

        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-7" aria-expanded="false"><span class="accordion-title" (click)="isHidden7= !isHidden7">
        Kuwait Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
<p [hidden]="isHidden7">
    <strong>President: Dr. Jasem Y Al-Hashel MD, FRCPC, FAHS</strong> <br>
  <mdb-icon far icon="envelope"></mdb-icon> jasemkumsa@hotmail.com<br>

  <i class="fas fa-phone"></i>+965 2484 0837

</p></div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-8" aria-expanded="false"><span class="accordion-title" (click)="isHidden8= !isHidden8"> Lebanese Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden8">
          <strong>President: Dr. Kamel Ezzeddine <br>

          </strong>
          <mdb-icon far icon="envelope"></mdb-icon> k.ezzeddine@yahoo.com<br>

          <i class="fas fa-phone"></i>+961 1 429 898

        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-9" aria-expanded="false"><span class="accordion-title" (click)="isHidden9= !isHidden9">Libyan Association of Psychiatry, Neurology and Neurosurgery</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden9">
          <mdb-icon far icon="envelope"></mdb-icon> alisakal2005@yahoo.fr<br>

          <i class="fas fa-phone"></i>+218 20 4650694        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-10" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden10= !isHidden10"> Mauritania Society of Neurology</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden10">
          <strong>President: Prof. Mouhamadou Diagana</strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> smsn@gmail.com<br>

          <i class="fas fa-phone"></i>+222 4681 4353       </p>



             </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-11" aria-expanded="false"><span class="accordion-title" (click)="isHidden11= !isHidden11"> Moroccan Society of Neurology</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden11">
          <strong>President: Prof. Faouzi Belahsen
          </strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> Belahsenfaouzi@gmail.com<br>

          <i class="fas fa-phone"></i>+212 537 683 784    </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-12" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden12= !isHidden12"> Oman Neurology Society </span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >

        <p [hidden]="isHidden12">
          <strong>President: Dr Abdullah Al-Salti
          </strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> onsoman1@gmail.com<br>

          <i class="fas fa-phone"></i>+968 24 479956
        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-13" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden13= !isHidden13"> Palestinian Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p [hidden]="isHidden13">
          <strong>President: Sari Nusseibeh, Ph.D.
          </strong> <br>
        </p>       </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-14" aria-expanded="false"><span class="accordion-title" (click)="isHidden14= !isHidden14"> Qatar Neuroscience Club</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p [hidden]="isHidden14">
          <strong>President: Dr Tag Eldin Sokrab

          </strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> tosokrab@yahoo.com<br>

          <i class="fas fa-phone"></i>+974 439 2773
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-15" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden15= !isHidden15"> Saudi Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden15">
          <strong>President: Dr. Youssef Alsaid


          </strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> Yalsaid@kfshrc.edu.sa<br>

          <i class="fas fa-phone"></i>+966 920 019 393
        </p>      </div>
    </div>

  </div>
</div>
