
<div class="container">
  <h2 class="pb-5">List of Arabic Member Societies</h2>
  <div class="accordion" >
    <div class="accordion-item" >

      <button id="accordion-button-1" aria-expanded="false"><span class="panel-heading " (click)="isHidden1= !isHidden1">Algerian Society of Neurology and Clinical Neurophysiology</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content ">
        <p [hidden]="isHidden1">
          <img src="../../../assets/algeria.png"/>

          <strong> President: Prof. Mustapha Sadibelouiz<br></strong>
          <br>
          <i class="fas fa-phone"></i>   +213 770 868 052 <br>
          <mdb-icon far icon="envelope"></mdb-icon>   sadibelouiz2000@yahoo.fr<br>


        </p>

      </div>
    </div>
    <div class="accordion-item " >
      <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title" (click)="isHidden2= !isHidden2">Bahrain Neurosciences Association</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content"  >
        <p [hidden]="isHidden2">
          <img src="../../../assets/bahrain.png"/>
       <strong>President: Prof. Fatema Abdulla <br></strong>
          <br>
          <br>
          <mdb-icon far icon="envelope"></mdb-icon>   fatema.abdulla@gmail.com<br>
          <i class="fas fa-phone"></i>   +213 770 868 052 <br>
          <a href="https://twitter.com/bahrainneurosc1" target="_blank"><i class="fab fa-twitter"></i> Twitter
          </a>




        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title" (click)="isHidden3= !isHidden3">Egyptian Society of Neurology, Psychiatry & Neurosurgery</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden3">
          <img src="../../../assets/egypt.png"/>
       <strong>   President: Prof. Ashraf Abdou</strong>
<br>
          <i class="fas fa-phone"></i>  +202 22 666 152 <br>

          <mdb-icon far icon="envelope"></mdb-icon>  ashrafabdou@gmail.com  <br>
        </p>
      </div>
    </div>





    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title" (click)="isHidden5= !isHidden5"> Iraqi Neurological Societys</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
  <p [hidden]="isHidden5">
    <img src="../../../assets/iraq.png"/>


    <strong>President: Prof. Akram Al-mahdawi
    </strong>
    <br>
    <br>
    <i class="fas fa-phone"></i>+964 07704621130
    <br>

    <mdb-icon far icon="envelope"></mdb-icon> akramalmahdawi@gmail.com<br>
  </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-6" aria-expanded="false"><span class="accordion-title" (click)="isHidden6= !isHidden6">
        Jordan Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p  [hidden]="isHidden6">
          <img src="../../../assets/jordan.png"/>

          <strong>President: Dr. Ammar Mobaideen
          </strong> <br>
          <mdb-icon far icon="envelope"></mdb-icon> mobaidin284@outlook.com<br>

        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-7" aria-expanded="false"><span class="accordion-title" (click)="isHidden7= !isHidden7">
        Kuwait Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
<p [hidden]="isHidden7">
  <img src="../../../assets/kuwait.png"/>

  <strong>President: Prof. Jasem Al-Hashel </strong> <br>
  <br>
  <mdb-icon far icon="envelope"></mdb-icon> jasemkumsa@hotmail.com<br>

  <i class="fas fa-phone"></i>+965 2484 0837
  <i class="fas fa-phone"></i>+ 97142594554
  <i class="fab fa-dribbble"></i>
  <a href="https://www.kuwaitneurology.com/index.html">Website</a>

</p></div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-8" aria-expanded="false"><span class="accordion-title" (click)="isHidden8= !isHidden8"> Lebanese Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden8">
          <img src="../../../assets/lebanon-flag-button-round-icon-32.png"/>

          <strong>President: Prof. Adnan Awada<br>

          </strong>
          <mdb-icon far icon="envelope"></mdb-icon>awadaadnan@yahoo.com<br>

         <a href=" https://www.facebook.com/LSNeuro/"> <i class="fab fa-facebook"></i> Facebook </a>
          <i class="fab fa-dribbble"></i>
          <a href=" http://www.lsneuro.org/"> Website </a>

        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-9" aria-expanded="false"><span class="accordion-title" (click)="isHidden9= !isHidden9">Libyan Association of Psychiatry, Neurology and Neurosurgery</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden9">
          <img src="../../../assets/libya-flag-button-round-icon-32.png"/>

          <strong>President: Prof. Ali Sakals <br>

          </strong>
          <mdb-icon far icon="envelope"></mdb-icon> alisakal2005@yahoo.fr<br>
          <mdb-icon far icon="envelope"></mdb-icon> alisakal2014@yahoo.com<br>


          <i class="fas fa-phone"></i>+218 20 4650694        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-10" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden10= !isHidden10"> Mauritania Society of Neurology</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden10">
          <img src="../../../assets/mauritania.png"/>

          <strong>President: Prof. Mouhamadou Diagana</strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon>mouhamadou.bdiag@gmail.com<br>

          <i class="fas fa-phone"></i>(+)226 81 43 53<br>
          <i class="fas fa-phone"></i>(+)222 73 50 105<br>
          <i class="fas fa-phone"></i>(+)222 21 552<br>
          <i class="fas fa-phone"></i>(+)222 525 57 41<br>

             </p>



             </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-11" aria-expanded="false"><span class="accordion-title" (click)="isHidden11= !isHidden11"> Moroccan Society of Neurology</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden11">
          <img src="../../../assets/morocco-flag-button-round-icon-32.png"/>

          <strong>President: Prof. Faouzi Belahsen
          </strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> Belahsenfaouzi@gmail.com<br>

          <i class="fas fa-phone"></i>(+) 212 67005 723 7<br>
          <i class="fab fa-dribbble"></i>
          <a href="http://smneurologie.org/marrakech2020/index.cfm"> Website </a>

        </p>

      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-12" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden12= !isHidden12"> Oman Neurology Society </span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >

        <p [hidden]="isHidden12">
          <img src="../../../assets/oman-flag-button-round-icon-32.png"/>

          <strong>President: Prof. Abdullah Al Asmi
          </strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> aalasmi@gmail.com<br>

          <i class="fas fa-phone"></i> (+) 968 2414 4647<br>
          <i class="fas fa-phone"></i>  (+) 968 24 479956<br>
          <a href="  https://www.facebook.com/ONSOMAN1/"> <i class="fab fa-facebook"></i> Facebook </a>




        </p>      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-13" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden13= !isHidden13"> Palestinian Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p [hidden]="isHidden13">
          <img src="../../../assets/palestine.png"/>

          <strong>President: Sari Nusseibeh, Ph.D.
          </strong> <br>
        </p>

      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-14" aria-expanded="false"><span class="accordion-title" (click)="isHidden14= !isHidden14"> Qatar Neuroscience Club</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p [hidden]="isHidden14">
          <img src="../../../assets/qatar-flag-button-round-icon-32.png"/>
          <strong>President: Dr Tag Eldin Sokrab

          </strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> tosokrab@yahoo.com<br>

          <i class="fas fa-phone"></i>+974 439 2773<br>
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-15" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden15= !isHidden15"> Saudi Neurological Society</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden15">
          <img src="../../../assets/saudi-arabia-flag-button-round-icon-32.png"/>
          <strong>President: Dr. Youssef Alsaid


          </strong> <br>
          <br>
          <mdb-icon far icon="envelope"></mdb-icon> Yalsaid@kfshrc.edu.sa<br>

          <i class="fas fa-phone"></i>+966 920 019 393<br>
          <i class="fab fa-dribbble"></i>
          <a href="https://www.saudineurology.org/"> Website </a>

        </p>      </div>
    </div>

    <div class="accordion-item">
      <button id="accordion-button-16" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden16= !isHidden16"> Sudanese Society of Neurosciences (SSNS)</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden16">
          <img src="../../../assets/sudan-flag-button-round-icon-32.png"/>
          <strong>President: Prof. Mohammed Abd El Rahman Arbab


          </strong> <br>
          <br>
          <a href="https://www.facebook.com/Sudanese-Society-of-Neurosciences-SSNS-101017674699308/" >
          <i class="fab fa-facebook"></i>Facebook<br></a>
          <i class="fab fa-dribbble"></i>
          <a href="http://www.ssns-sd.com/"> Website </a>

        </p>      </div>
    </div>

    <div class="accordion-item">
      <button id="accordion-button-17" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden17= !isHidden17"> Syrian Society of Neurosciences</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden17">
          <img src="../../../assets/saudi-arabia-flag-button-round-icon-32.png"/>
          <strong>President: Prof. Anas Jawhar


          </strong> <br>
          <br>
          <mdb-icon far icon="envelope"></mdb-icon> anasjawhar@hotmail.com <br>
<a href="https://www.facebook.com/%D8%A7%D9%84%D8%B1%D8%A7%D8%A8%D8%B7%D8%A9-%D8%A7%D9%84%D8%B3%D9%88%D8%B1%D9%8A%D8%A9-%D9%84%D9%84%D8%B9%D9%84%D9%88%D9%85-%D8%A7%D9%84%D8%B9%D8%B5%D8%A8%D9%8A%D8%A9-Syrian-Society-of-Neuro-Sciences-484891915217985"><i class="fab fa-facebook"></i>Facebook<br></a>


        </p>      </div>
    </div>

    <div class="accordion-item">
      <button id="accordion-button-18" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden18= !isHidden18">Tunisian Society of Neurology (ATN) </span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden18">
          <img src="../../../assets/tunisia-flag-button-round-icon-32.png"/>
          <strong>President:Prof. Chokri Mhiri


          </strong> <br>
          <br>
          <mdb-icon far icon="envelope"></mdb-icon> mhiri.chokri@gmail.com<br>

          <i class="fas fa-phone"></i>(+) 216 74 450 581<br>
          <i class="fas fa-phone"></i> Mob : (+) 216 95 835 083<br>
          <i class="fas fa-phone"></i> Mob :(+) 216 58 115 776<br>
          <i class="fab fa-dribbble"></i>
          <a href="https://www.stneuro.tn/fr/"> Website </a>

        </p>      </div>
    </div>


    <div class="accordion-item">
      <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title" (click)="isHidden4= !isHidden4">Emirates Neurosciences Society (EMINS)</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden4">
          <img src="../../../assets/emirates.png"/>

          <strong>President: Prof. Suhail Abdulla Al Rukn</strong> <br>

          <mdb-icon far icon="envelope"></mdb-icon> suhalrukn@gmail.com <br>
          <mdb-icon far icon="envelope"></mdb-icon> saalrukn@dha.gov.ae<br>
          <i class="fab fa-dribbble"></i>
          <a href="http://yns-yemen.com/"> Website </a>


          <br>
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-19" aria-expanded="false">
        <span class="accordion-title" (click)="isHidden19= !isHidden19"> Yemeni Neuroscience Society (YNS)</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content" >
        <p [hidden]="isHidden19">
          <img src="../../../assets/yemen-flag-button-round-icon-128.png"/>
          <strong>President: Prof. Rashad Abdul ghani Al Dhebai


          </strong> <br>
          <br>
          <mdb-icon far icon="envelope"></mdb-icon> rashadneuro@gmail.com<br>
          <mdb-icon far icon="envelope"></mdb-icon> rashadneuro@yahoo.co.uk<br>

          <i class="fas fa-phone"></i>(+) 967 73351 0135<br>
          <i class="fas fa-phone"></i> (+) 967 77074 8409<br>
          <i class="fab fa-dribbble"></i>
          <a href="http://yns-yemen.com/"> Website </a>

        </p>      </div>
    </div>

  </div>
</div>
