<body class="flex-center">
<div class="container">
  <div class="content">
    <h3 class="title">We are coming soon</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste earum omnis totam, asperiores, est voluptatibus placeat officiis, quia neque distinctio similique doloribus nesciunt deserunt sint unde possimus accusantium ad provident eaque. Officia nemo recusandae aspernatur beatae.</p>
  </div>
  <div class="image">
    <img src="https://i.postimg.cc/sXBRNC9V/image.png" alt="">
  </div>
</div>

</body>
