.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.event{
  text-align: center;
  margin-bottom: 2%;
  color:black;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.btnevent{
  background-color:#E43A19 !important;
}
.v{
  width: 100px !important;
  height : 100px !important;
}
.doc{
  width: 100px !important;
  height : 100px !important;
}
.c {
  width: 60% !important;

}
.c3 {
  width: 40% !important;

}
.viewer{
  width: 100px !important;
  height : 90px !important;

}
.webviwer{
  width: 100%;
  height: 100vh;
}
