
<div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;">
  <div class="title">
    <h1 >History</h1>
  </div>
  <div class="testimonial-quote group ">
    <div class="quote-container">
<br>
      <cite >
        <h4 class="text">
          The idea of the Pan Arab Union of Neurosciences (PAUNS) aroused in 1973 in Spain, during the World Congress of Neurology (WCN) Held in Barcelona when some representatives from Arab countries attending that congress met and discussed the idea and the urgent need for it. However, it was not until 1975 when this PAUNS came to reality. It has been established in Cairo that year when the Egyptian Society of Neurology, psychiatry and Neurosurgery took the initiative and held the first Pan Arab Meeting of Neurosciences. The late Dr Ahmed El-Banhawy, Prof of Neurosurgery and Dean of Faculty of Medicine, Ain Shams University, Cairo, Egypt, was nominated as the first president. Hence, on 22nd of May 1975, the Union was officially founded in Cairo from a combination of various neuroscience societies in the Arab World, including specialists from countries lacking such societies.


        </h4>
            </cite>
    </div>
  </div>

  <hr style="margin: 60px auto; opacity: .5;">


