<br>
<br>
<h1 class="title">List Of Past Meetings</h1>
<br>
<br>




<!-- Card -->
<div class="">
  <mdb-card
    style="background-image: url('../../../assets/meet1.jpg')"
    class="card-image mb-5 mx-5"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>7th MENA STROKE CONGRESS</strong></h3>

        <a mdbBtn class="waves-light c2 mt-5 c2 mt-5" mdbWavesEffect  target="_blank" href="../../../assets/7th%20Mena%20Stroke%20Congress%20Scientific%20Agenda_17.10.2021.pdf">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a>
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <br>
  <mdb-card
    style="background-image: url('../../../assets/meet2.jpg')"
    class="card-image mb-5 mx-5"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>
        <h3 class="card-title pt-2"><strong>10ème Congrès Maghrébin de Neurologie</strong></h3>

        <a mdbBtn  class="waves-light c2 mt-5 " mdbWavesEffect target="_blank" href="../../../assets/Brochure%2010è%20Congres%20STN.pdf.pdf" >
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a>
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <br>
  <mdb-card
    style="background-image: url('../../../assets/meet3.jpg')"
    class="card-image mb-5 mx-5"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>10th International Congress of LSN</strong></h3>

        <a mdbBtn  class="waves-light c2 mt-5" mdbWavesEffect target="_blank" href="../../../assets/Announcement.pdf"  >
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>


  <!-- Card -->

  <div>
    <mdb-card
      style="background-image: url('../../../assets/meet4.jpg')"
      class="card-image mb-5 mx-5"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
        <div>

          <h3 class="card-title pt-2"><strong>11th International Congress of LSN</strong></h3>

          <a mdbBtn   class="waves-light c2 mt-5" mdbWavesEffect target="_blank" href="../../../assets/Program.pdf" >
            <mdb-icon far icon="clone" class="left"></mdb-icon>
            More Details</a
          >
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
  </div>

  <mdb-card
    style="background-image: url('../../../assets/meet5.jpg')"
    class="card-image mb-5 mx-5">
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>26ème Congrès National de Neurologie</strong></h3>

        <a mdbBtn class="waves-light c2 mt-5" mdbWavesEffect target="_blank" href="../../../assets/Programme ATN.pdf">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>

    <!-- Content -->
  </mdb-card>
  <mdb-card
    style="background-image: url('../../../assets/meet6.jpg')"
    class="card-image mb-5 mx-5">
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>ESNPN Summer Meeting</strong></h3>

        <a mdbBtn  class="waves-light c2 mt-5" mdbWavesEffect target="_blank" href="../../../assets/ESNPN%20Program%202021.pdf">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>

    <!-- Content -->
  </mdb-card>
  <mdb-card
    style="background-image: url('../../../assets/meet7.jpg')"
    class="card-image mb-5 mx-5">
    <!-- Content -->
    <div class="text-white text-center d-flex flex-center rgba-black-strong py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>Pan Arab Workshop 19 - 20</strong></h3>

        <a mdbBtn  class="waves-light c2 mt-5" mdbWavesEffect target="_blank" href="../../../assets/Agenda%20-%20Pan%20Arab%20WorkShop%20Jordan%20Sept.2019%20-%20Copy.pdf">
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          More Details</a
        >
      </div>
    </div>

    <!-- Content -->
  </mdb-card>
</div>

