<link href="/node_modules/@mobiscroll/angular/dist/css/mobiscroll.min.css" rel="stylesheet" />
<section class="vh-200 c1" style="background-color: #eee; width: 100%;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black " style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-centers">
              <div class="col-md-10 col-lg-6 col-xl-7 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                    <form #signupForm=ngForm [formGroup]="form" (ngSubmit)="onSubmit()">
      
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <div class="md-form">
                           <input type="text" id="nom"   class="form-control" mdbInput mdbValidate  formControlName="nom" >
                           <label class="form-label" for="form3Example1c">First Name </label> 
                                <mdb-error *ngIf="nom.invalid && (nom.dirty || nom.touched)">Required</mdb-error>
                                <mdb-success *ngIf="nom.valid && (nom.dirty || nom.touched)"></mdb-success>
                                
                           </div>
                        </div>
                        <i class="far fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <div class="md-form">
                            <input type="text" id="prenom" class="form-control" mdbInput  mdbValidate formControlName="prenom">
                            <label class="form-label" for="form3Example1c">Last Name</label>
                            <mdb-error *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)">Required</mdb-error>
                            <mdb-success *ngIf="prenom.valid && (prenom.dirty || prenom.touched)"></mdb-success>
                          </div>
                        </div>
                        </div>
       
                      
        
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
              
                              <div class="md-form">
                                <input type="text" id="email" required class="form-control" mdbInput  mdbValidate formControlName="email">
                                <label class="form-label" for="form3Example3c">Your Email</label>
                                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Required</mdb-error>
                                <mdb-success *ngIf="email.valid && (email.dirty || email.touched)"></mdb-success>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center mb-4">
                            <div class="md-form">
                            <ngx-intl-tel-input type="text" id="numtel"  mdbInput  mdbValidate  required class="form-control tel" formControlName="numtel"></ngx-intl-tel-input>
                            <mdb-success *ngIf="numtel.valid && (numtel.dirty || numtel.touched)"></mdb-success>
                            </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                              <div class="md-form">
                                    <select  class="custom-select" mdbSelect>
                                          <option [value]="country.text" class="form-control"  *ngFor="let country of myData">
                                               {{country.text}}
                                          </option>
                                     </select>
                              </div>
                            </div>
                          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">

                                <div class="md-form">
                                  <input type="password"  id="password" class="form-control" mdbInput   mdbValidate required  formControlName="password" autocomplete="new-password">
                                  <label class="form-label" for="form3Example4c">Password</label>
                                  <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Make sure it's at least 8 characters </mdb-error>
                                  <mdb-success *ngIf="password.valid && (password.dirty || password.touched)"></mdb-success>
                                </div>  
                              </div>
                              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                              <div class="md-form">
                                <input type="password" required id="confirmpass" class="form-control" mdbInput mdbValidate formControlName="password_confirmation" autocomplete="new-password">
                                <label class="form-label" for="form3Example4c">Password Confirmation</label>
                                <mdb-error *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)">Make sure it's at least 8 characters </mdb-error>
                                <mdb-success *ngIf="password_confirmation.valid && (password_confirmation.dirty || password_confirmation.touched)"></mdb-success>
                              </div>
                            </div>
                            </div>

                          
                            <form  #checkForm=ngForm [formGroup]="formCheck">

                              <div class="form-check d-flex justify-content-center mb-5">
                       <input type="checkbox" id="form2Example3c" class="form-control" mdbInput  formControlName="check"/>
                       <label class="form-check-label" for="form2Example3">
                         I agree all statements in <a href="#!">Terms of service{{checked}}</a>
                       </label>
                     </div>
                   </form>
                      

                          
                          <div class="form-check d-flex justify-content-center mb-5">
                          <button type="button" class="btn btn-warning btn-rounded " type="submit" (click)="Effacer()">Reset</button>
                          <button  type="button"  class="btn btn-warning btn-rounded"   [disabled]="!signupForm.valid"  type="submit">Submit</button>
                        </div>
                      </form>
                        <div class="d-flex justify-content-end ">
                          Already have an account?  <a routerLink="/signup" >Sign In</a>
                        </div>
                        
                  
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center order-1 order-lg-2 ">
      
                      <img src="../../assets/signup.png" class="img-fluid" alt="Sample image">
                    </div> 
                    </div>             
                  </div>
                </div>
               </div>
             </div>
          </div>
    </section>
    <script src="bower_components/angular-country-picker/country-picker.js"></script>
<script src="node_modules/angular-country-picker/country-picker.js"></script>