.c1{
    z-index: -1!important;
    position: absolute!important;
    width: 100% !important;
    
  }
  button{
      background-color : #E43A19 !important; 
        color : #FFFFFF !important;
        width : 35% !important;
        height: 15%;
        margin-left: 10%;

    }
a{
    color : #2f3138 !important;
    font-weight: bold!important;
}
label{
    color: #2f3138!important;

}
.c2{
}
.img{
 
        background-color:#9CCFAF;

}
.tel{
    border-style: none;
}

.md-image-text-item {
    position: relative;
    padding: 15px 0 15px 50px;
    text-align: left;
    line-height: normal;
}

.md-image-text-avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 5px;
}