/* You can add global styles to this file, and also import other style files */
@import "~ng-snotify/styles/material";


.text-poppy-red {
  color: #ef5350 !important;
}
.btn-poppy-red {
  background-color: #ef5350 !important;
}
.bg-poppy-red {
  background-color: #F8F8F8;
}
.navbar.navbar-dark .navbar-toggler{
  background-color: #E43A19!important;

}
