.text-white {
    color : black !important
  }
  .title {
    text-align: center;
    padding-top: 10%;
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial;
  }
  .cont
  {
    width: 50%;
  }
  
 
  .carousel-indicators {
    display: none;
  
  }
  .d {

    padding-top: 2%;
    width: 90% !important;
  
  
  
  }
  body {
background-color: white!important;
  }
  .btn1{
    padding: 8px 25px;
    font-weight: 600;
    background-color:#E43A19 !important;
    font-family: "Raleway", sans-serif;
    color: white;
    width:15%;
  }
  .btn2{
    margin-left: 10%;
    margin-top: 3%;
    
  }
  .c1{
 
    width: 100% !important;

  }
  .c22{
    display: flex !important;
    justify-content: space-between;

  }
  .c2{
    width: 100rem !important;
  }
  .c3{
    width: 99rem !important;
    height: 30rem !important;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}