.text-white {
    color : black !important
  }

  body {
background-color: white!important;
  }
  .c1{
    z-index: -1!important;
    position: absolute!important;
   // width: 90% !important;

  }
  .c22{
    display: flex !important;
    justify-content: space-between;

  }
  .c2{
    width: 100rem !important;
  }
