.text-white {
    color : black !important
  }

  body {
background-color: white!important;
  }
  .c1{
 
    width: 100% !important;

  }
  .c22{
    display: flex !important;
    justify-content: space-between;

  }
  .c2{
    width: 100rem !important;
  }
  .c3{
    width: 99rem !important;
    height: 30rem !important;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}