<body class="hm-gradient c1">
   <!--Zoom effect-->
   <div >

    <div class="mask " class="di" style="background-color: #064635;">
      <h1 class="white-text title ">Pan Arab Union Of Neurological Societies </h1>
      <!--
      <h1 class="  white-text droid-arabic-kufi ">الإتحاد العربي لجمعيات طب الأعصاب  </h1>
  -->
      <div class="d-flex justify-content-center">
      <img src="../../assets/txt.png" class="w-100 d " />
      </div>
 >
      <div class="d-flex justify-content-start btn2">
        <br>

        <button type="button" class="btn  btn-rounded btn1">Get Started</button>

    </div>
      </div>
  </div>
  <div class="text-center darken-grey-text mb-4">
    <h1 class="font-bold mt-4 mb-3 h5 sco">Member Societies</h1>
</div>

  <mdb-carousel  [isControls]="true"  class="carousel-multi-item multi-animation ml-1 d-flex  justify-content-center" [type]="'carousel-multi-item'"
  [animation]="'slide'">
                <mdb-carousel-item *ngFor="let item of slides; let i = index">
                        <div class="col-md-2" [ngClass]="{'d-none d-md-block': cardIndex !== 0 }"
                        *ngFor="let card of item; let cardIndex = index">
                        <mdb-card class="my-1 cont">
                        <mdb-card-img [src]="card.img" class="imgcont" alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        </div>
                </mdb-carousel-item>
  </mdb-carousel>
   <!--
    <main class="mt-5">


        <div class="mt-5 container ">

            <div class="text-center darken-grey-text mb-4">
                <h1 class="font-bold mt-4 mb-3 h5">Built with Material Design for Bootstrap 4</h1>
            </div>



          <div class="row">


            <div class="col-md-6 mb-4">


                <div class="card">


                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Others/butterflies.jpg" class="img-fluid" alt="photo">
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">

                        <h4 class="card-title">Butterflies are awesome creatures!</h4>

                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores est quas molestias excepturi sint occaecati cupiditate non provident similique.</p>
                        <a href="#!" class="btn btn-outline-primary waves-effect">Read more</a>
                    </div>

                </div>


            </div>

            <div class="col-md-6 mb-4">
                <div class="card">

                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Others/portrait.jpg" class="img-fluid" alt="photo">
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">

                        <h4 class="card-title">The eye is the mirror of the soul</h4>

                        <p class="card-text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
                        <a href="#!" class="btn btn-outline-warning waves-effect">Read more</a>
                    </div>

                </div>


            </div>


        </div>



        <hr class="my-4">

        </div>


    </main>
    -->
<br>
<br>
<br>
<br>
<br>
<br>




  </body>
