<body class="hm-gradient c1">
   <!--Zoom effect-->
   <div class="view">
  <img src="../../assets/img.png" class="w-100 " />
    <div class="mask " style="background-color: rgba(0, 0, 0, 0.7);">
      <h1 class="white-text title ">Pan Arab Union Neurological Societies </h1>
      <!--
      <h1 class="  white-text droid-arabic-kufi ">الإتحاد العربي لجمعيات طب الأعصاب  </h1>
  -->
      <div class="d-flex justify-content-center">
      <img src="../../assets/txt.png" class="w-100 d " />
      </div>
      <div class="d-flex justify-content-start btn2">
        <br>
        <button type="button" class="btn  btn-rounded btn1">Get Started</button>
    </div>
      </div>
  </div>
  <div class="text-center darken-grey-text mb-4">
    <h1 class="font-bold mt-4 mb-3 h5"> Supported Country</h1>
</div>

  <mdb-carousel  [isControls]="true"    
  class="carousel-multi-item multi-animation  indicators-color" [type]="'carousel-multi-item'"
  [animation]="'slide'">
                <mdb-carousel-item *ngFor="let item of slides; let i = index">
                        <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0 }"
                        *ngFor="let card of item; let cardIndex = index">
                        <mdb-card class="my-1 cont">
                        <mdb-card-img [src]="card.img" class="imgcont" alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        </div>
                </mdb-carousel-item>
  </mdb-carousel>
    <main>
        
        <!--MDB Cards-->
        <div class="mt-4 container">
  
            <div class="text-center darken-grey-text mb-4">
                <h1 class="font-bold mt-4 mb-3 h5">Built with Material Design for Bootstrap 4</h1>
            </div>
  
           
          
          <!-- Grid row -->
          <!-- Grid row -->
          <div class="row">
          
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
        
                <!--Card-->
                <div class="card">
                    
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Others/butterflies.jpg" class="img-fluid" alt="photo">
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Butterflies are awesome creatures!</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores est quas molestias excepturi sint occaecati cupiditate non provident similique.</p>
                        <a href="#!" class="btn btn-outline-primary waves-effect">Read more</a>
                    </div>

                </div>
                <!--/.Card-->
                                
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
        
                <!--Card-->
                <div class="card">
                    
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Others/portrait.jpg" class="img-fluid" alt="photo">
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">The eye is the mirror of the soul</h4>
                        <!--Text-->
                        <p class="card-text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
                        <a href="#!" class="btn btn-outline-warning waves-effect">Read more</a>
                    </div>

                </div>
                <!--/.Card-->
                                
            </div>
            <!-- Grid column -->
        
        </div>
        <!-- Grid row -->
        
      
        <hr class="my-4">

        </div>
        <!--MDB Cards-->
      
    </main>
  
  </body>